* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    line-height: 1.6em;

    color: #2A2626;
}

h1, h2, h3 {
    line-height: 1.2em;
    font-family: Neucha; 
    font-weight: normal;  
}

h1 {
    font-size: 72px;
    white-space: nowrap;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

section {
    padding: 100px 0;

    width: 100%;

    text-align: center;
}

a:active,
a:hover,
a {
    text-decoration: none;
    color: #2A2626;
}

/* ---------HEADER-------- */

.header {
    position: relative;
    padding-bottom: 189px;
}

.background::before{
    content: "";
    
    position: absolute;
  
    
    background-color: rgb(160, 166, 180);
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;

    opacity: 10%;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    padding: 100px 0;
    
    display: flex;
    justify-content: space-between;

    max-width: 1110px;
}

.computer {
position: absolute;
top: 55px;
right: -270px;

height: 525px;
}

span {
    color: #FE8A02;
}

.text {
    margin: 0 auto;
    padding-top: 122px;
    display: flex;


    max-width: 1110px;
}

.first_text {
    margin-right: 30px;

    width: 540px;
}

.second_text {
    width: 540px;
    position: relative;
}

.btn {
    padding: 12px 24px;
    position: absolute;
    bottom: -90px;
    
    font-weight: bold;
    text-decoration: none;

    color: white;
    background: #FE8A02;

}

/* ------END HEADER------ */

/* ------MAIN------- */

.main {
    margin-top: 100px;

    background-color: #fff;
}

.title_center {
    margin: 0 auto;

    text-align: center;
}

.title_center h1 {
    padding-bottom: 30px;
}

.wrapper_vid {
    padding: 0 ;
    padding-bottom: 485px;

    display: flex;
    flex-direction: column;
}

.vid {
    position: relative;
    
    padding-top: 30px;

    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.vid iframe {
    position: absolute;
    left: 50%;
    bottom: -569px;

    margin-left: -460px;
}

/* ------END MAIN----- */

/* --------MENU------- */

.menu {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0;
    
    display: flex;

    background: #42413C;
}

.white_letters {
    color: #fff;
}

.title_left {
    text-align: left;

    width: 350px;
    height: 323px;

    list-style-type:none;
}

.title_left h2 {
    font-size: 52px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    position: relative;

    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;

    height: 323px;
    width: 350px;

    text-align: left;
    list-style-type: none;

    background-color: #F5F4F0;
}

.card a {
    position: absolute;
    top: 0;
    left: 0;

    padding: 24px;

    display: block;

    width: 100%;
    height: 100%;
  
    text-decoration: none;
}

.card h3 {
    color: #FE8A02;
}

.number {
    padding-bottom: 40px;

    font-size: 64px;
    font-family: Neucha, sans-serif;
    line-height: 1em;
}










/* --------END MENU------ */