* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    line-height: 1.6em;

    color: #2A2626;
}

h1, h2, h3 {
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;

}

h3 {
    font-size: 34px;
}

section {
    padding: 100px 0;

    max-width: 1110px;

    text-align: center;
}

header ::before{
    
    content: url(/img/background.png);

    background-repeat: no-repeat;
    background-size: cover;

    opacity: 10%;
}

header {
    max-width: 1110px;
}
